<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wysylanie_na_maila.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Sender_Man.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Wysylanie_na_maila.Properties.Settings>
      <setting name="Form_State" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="Form_Location" serializeAs="String">
        <value>400, 400</value>
      </setting>
      <setting name="Form_Size" serializeAs="String">
        <value>813, 620</value>
      </setting>
      <setting name="Form_Maximised" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Form_Minimised" serializeAs="String">
        <value>False</value>
      </setting>
    </Wysylanie_na_maila.Properties.Settings>
    <Sender_Man.Properties.Settings>
      <setting name="Form_State" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="Form_Location" serializeAs="String">
        <value>400, 400</value>
      </setting>
      <setting name="Form_Size" serializeAs="String">
        <value>814, 625</value>
      </setting>
      <setting name="Form_Maximised" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Form_Minimised" serializeAs="String">
        <value>False</value>
      </setting>
    </Sender_Man.Properties.Settings>
  </userSettings>
</configuration>